**/node_modules
tsconfig.tsbuildinfo
dist
packages/*/build
example/build
bin
tmp
~
yarn-error.log
.loom
packages/*/*.js
!packages/*/.eslintrc.js
packages/*/*.esnext
packages/*/*.node
packages/*/*.ts
packages/*/*.mjs
!packages/*/loom.config.ts
.DS_Store
